<!DOCTYPE html>
<html lang="pt">
<head>
  <title>Gerenciador de Estoque</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
      #logo{
          float: left
      }
      #usuario	{
			float:	right;
			margin: 0 0 0px 0px;
		}
        #logo_total {
            background-color: lightgray;
        }
  </style>
</head>
<body>
  {% load static %}

<div id='logo_total' class='row'>
<div class= "col-sm-4"><a href='{% url "Produtos-list"%}'><img id ='logo' src="{% static 'logo.jpg' %}" height="110px"></a></div>
<div class= "col-sm-4">
  <center><h1>Gerenciador de Estoque</h1> </center>
</div>
<div class= "col-sm-4">
{% if request.user.is_authenticated %}
      {{ request.user.get_full_name }}
      <a id="usuario" href="{% url 'logout'%}">sair</a>
    {% else %}
      <a href='{% url "login" %}'><img id="usuario" src="{% static 'usuario.png' %}" alt="usuario" height="110px" width="110px"></a>
    {% endif %}
</div>
</div>

{% block content %}
{% endblock %}


  
  </body>
  </html>