{% extends "stock/base.html" %}
{% block content %}
Por algum motivo esse codigo não envia imagens então para cadastrar acesse 127.0.0.1:8000/admin

<form method="POST">

{% csrf_token %}
<label for="id_Nome">Nome:</label><br>
<input type="text" name="Nome" maxlength="50" required="" id="id_Nome"><br>
<label for="id_Descrição">Descrição:</label><br>
<textarea name="Descrição" cols="40" rows="10" required="" id="id_Descrição"></textarea><br>
<label for="id_Código">Código:</label><br>
<input type="text" name="Código" maxlength="50" required="" id="id_Código"><br>
<label for="id_Imagem">Imagem:</label><br>
<input type="file" name="Imagem" accept="image/png, image/jpeg"  id="id_Imagem" multiple /> <br>
<label for="id_Quantidade">Quantidade:</label><br>
<input type="number" name="Quantidade" min="0" required="" id="id_Quantidade"><br>
<input type="submit" value="Cadastrar">

</form>

{% endblock %}