{% extends "stock/base.html" %}
{% block content %}
<style>
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  height: 47px;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

#Produtos{
  float: left;
}
</style>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-3">
        <form class="example" action="{% url 'search' %}" style="margin:auto;max-width:300px" method="get">
            <input type="text" placeholder="Pesquisar" name="pesq">
            <button type="Pesquisar"><i class="fa fa-search"></i></button>
          </form>
        <a class="btn btn-primary" href="{% url 'cadastro' %}">Cadastrar Produtos</a>
        <a class="btn btn-primary" href="{% url 'sem_estoque' %}">Produtos sem estoque</a>
        </div>

    {% for Produtos in object_list %}
    <div id='Produtos' class="col-sm-9">
      <h2>{{Produtos.Nome}}</h2>
      <div class='row'>
	  <div class= "col-sm-4">
      <h3 id='logo'>Em estoque: {{Produtos.Quantidade}}</h3></div>
      </div>
      <h5>Código: {{Produtos.Código}}</h5>
      {% if '{{Produtos.Imagem.url}}' != NULL %}
      <img class='img-fluid' src='{{Produtos.Imagem.url}}' height="300px" width="400px">
      {% else %}
      <img class='img-fluid' src='media/static/as.png' height="300px" width="400px">
      {% endif %}
      <p>{{Produtos.Descrição}}</p>
      <div class='row'>
        <div class= "col-sm-4">
      <form method="POST" action="{% url 'add-stock' Produtos.id %}">
        {% csrf_token %}
        <input type="number" name="Quantidade" min='1'>
        <input type="submit" value='Adicionar ao Estoque'>
      </form></div>
      <div class= "col-sm-4">
      <form method="POST" action="{% url 'remove-stock' Produtos.id %}">
          {% csrf_token %}
        <input type="number" name="Quantidade" min='1'>
        <input type="submit" value='Remover do Estoque'>
      </form></div>
      {% endfor %}
    </div>
  </div>
</div>
</div>


{% endblock %}